<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/chauduong?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">22012003</property>
         
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>
 
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
 
        <!-- Show all executed SQL to console -->
        <property name="show_sql">true</property>
 
        <!-- Entity mapping -->
        <mapping class="demo.pojo.User" />
        <mapping class="demo.pojo.Product" />
        <mapping class="demo.pojo.Bills" />
        <mapping class="demo.pojo.Cart" />
        <mapping class="demo.pojo.Account_cus" />
        <mapping class="demo.pojo.Admin" />
        <mapping class="demo.pojo.Customer" />
        <mapping class="demo.pojo.Feedback" />
        <mapping class="demo.pojo.Saled" />
        <mapping class="demo.pojo.Favorite_products" />

        <!-- 
        
        
        
       
        
         -->
         
         
    </session-factory>
</hibernate-configuration>